---
import Header from '../components/Header.astro'
import Card from '../components/Card.astro'
import CardData from '../CardData.json'
import Footer from '../components/Footer.astro'



---
<Header/>
<div class = "cards-container">
{CardData.map((item) => {
    return(
        <Card  item={item}/>
    )
})}
</div>
<Footer />

