---
import Layout from '../layouts/Layout.astro'
---
<Layout title="About Us">

<div class="cards-container">
    <div class="card">    
        <div class="card-content ">
            <img src="/pallavi.jpg" alt="Pallavi Thakur">  
        </div> 
        <div class="card-text-left">
            <h2>Pallavi Thakur</h2>
            <h3>Frontend Developer</h3>
            <p>Whenever any problem arises, I become curious to know about it. I also like meeting new people and making new friends.</p>
            <a href="https://www.linkedin.com/in/pallavi-thakur-7857a6288/"><i class="fa-brands fa-linkedin-in"></i></a>
        </div>    
    </div>
    <div class="card">    
        <div class="card-text-right">
            <h2>Manisha </h2>
            <h3>Backend Developer</h3>
            <p>The wave sometimes rises and sometimes falls but does not stop, in the same way my learning sometimes increases and sometimes decreases but does not stop.</p>
            <a href="http://tinyurl.com/3samnvm5" ><i class="fa-brands fa-linkedin-in"></i></a>
        </div> 
        <div class="card-content">
            <img src="/manisha.jpg" alt="...">  
        </div> 
    </div>
    <div class="card">  
      <div class="card-content">
            <img src="/muskan.jpg" alt="...">  
      </div>    
        <div class="card-text-left">
            <h2>Muskan Kumari</h2>
            <h3>Backend Developer</h3>
            <p >I consider problems as learning opportunities. I have a sweet tooth and a sweet personality.</p>
            <a href="http://tinyurl.com/yhj4u7k8" ><i class="fa-brands fa-linkedin-in"></i></a>
        </div>     
    </div>
    <div class="card">   
        <div class="card-text-right">
            <h2>Shivi Yadav</h2>
            <h3>Frontend Developer</h3>
            <p >I do my work with focus and always try to give  my best. I learn everything quickly. Night time is the best time to work for me.</p>
            <a href="https://www.linkedin.com/in/shivi-yadav-00286627a/" ><i class="fa-brands fa-linkedin-in"></i></a>
        </div> 
         <div class="card-content">
            <img src="/shivi-yadav.jpeg" alt="Shivi Yadav">  
        </div> 
    </div>
    <div class="card">   
    <div class="card-content">
            <img src="/neha.jpeg" alt="...">  
        </div>  
        <div class="card-text-left">
            <h2>Neha</h2>
            <h3>Project Manager</h3>
            <p >Solving problems brings me happiness. I also like to make other people laugh. Work is always my first priority.</p>
            <a href="http://tinyurl.com/4nnb382j" ><i class="fa-brands fa-linkedin-in"></i></a>
        </div> 
             
    </div>
    <div class="card"> 
            
        <div class="card-text-right">
            <h2>Sangeeta Lakra</h2>
            <h3>Project Manager</h3>
            <p>I enjoy learning new things and working in a peaceful and healthy environment brings the best in me.
             It helps in putting all the focus on my work.</p>
            <a href="https://www.linkedin.com/in/sangeeta-lakra-24782727a/" ><i class="fa-brands fa-linkedin-in"></i></a>
        </div> 
        <div class="card-content">
            <img src="/sageeta.jpeg" alt="...">  
        </div> 
    </div>
    <div class="card">  
    <div class="card-content">
            <img src="/meenu-yadav.jpeg" alt="...">  
        </div>  
        <div class="card-text-left">
            <h2>Meenu Yadav</h2>
            <h3>Full Stack Developer</h3>
            <p >I approach problems with a smile. I like to think calmly about the problem and find a solution. I love to laugh and make everyone laugh.</p>
            <a href="http://tinyurl.com/5b7ztf83" ><i class="fa-brands fa-linkedin-in"></i></a>
        </div> 
              
    </div>
    <div class="card"> 
        <div class="card-text-right">
            <h2>Simran </h2>
            <h3>Full Stack Developer</h3>
            <p >I love the freedom the birds have. I want to keep flying and moving forward just like the birds.</p>
            <a href="http://tinyurl.com/5n7bt52r"><i class="fa-brands fa-linkedin-in"></i></a>
        </div> 
          <div class="card-content">
            <img src="simran.jpeg" alt="...">  
          </div>  
    </div>         
</div>

</div>
</Layout>

