---
import Header from '../components/Header.astro'
import Footer   from '../components/Footer.astro'
---
<Header />
<div class="container">
     <img src="https://letsenhance.io/static/8f5e523ee6b2479e26ecc91b9c25261e/1015f/MainAfter.jpg" alt="Encouraging Village Girls">
        <h1>Your Title Here</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel
          dolor eu velit suscipit auctor. Nullam sit amet diam non lacus
          ullamcorper fermentum non in lorem.
        </p>
      </div>
    </div>
<Footer />