---
import Layout from '../layouts/Layout.astro'
---
<Layout title="Contact Us">
<div class="contact-container">           
        <h1 >Contact-Us</h1>
        <div class="information-container">
           <h2>Get connected with <span>Udyami-Tech</span></h2>
           <div class="contact-udyami">
             <div class="contact-card">
               <i class="fa fa-phone"></i>
               <span class="footer-contact-text">+919301760433</span>
             </div>
             <div class="contact-card">
               <i class="fa fa-envelope"></i>
               <span class="footer-contact-text">udyamitech@gmail.com</span>
             </div>
             <div class="contact-card">
               <i class="fa-solid fa-location-dot"></i>
                <span class="footer-contact-text"> Dharmashala,Himachal Pradesh</span>
             </div>
           </div>
        </div>
    </div>
</Layout>