---

import Layout from '../layouts/Layout.astro'
---
<Layout title=" Our Projects">
<div class="project-container">   
        <h1> Our Project</h1>
          <p>We are dedicated to providing high-quality solutions for our clients.</p> 
       <div class="first-project">
        <div>
         <h2>1. Alphabet-Art </h2>
         <p>Created a Alphabet Art App by using HTML, CSS , JavaScript. This app has been created for 3 to 7 years old children where they
            can learn A to Z alphabet by art and craft <a href="https://alphabetart.org/">Alphabet-Art</a></p>
         </div>
         <div>
            <img src="/alphabet-art.jpeg" alt="...">    
         </div>
       </div>   
</div>
</Layout>