---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
---
<Header />
<div class="cards-container support"> 
    <div class="card">
        <div class= "card-content">
             <img src="/public/surabhi.jpg" class="card-img-top" alt="...">
             <h2 >Surabhi Yadav</h2>
              <h3 class="card-text">Founder of -<a href ="https://sajhesapne.org/"> Sajhe Sapne</a></h3>
              <p>Founder of Sajhe <span>Sapne NGO, Surbhi Yadav,</span> and her team have helped us in every way in starting our tech collective. They have provided financial assistance, educational resources, and networking opportunities. Their contributions and belief in our vision have made our dream come true.</p>
            <div class="support-social-icons">
               <a href="https://www.facebook.com/hashtag/sajhesapne/" class="icon-link"><i class="fa fa-facebook"></i></a>
               <a href="https://in.linkedin.com/company/sajhe-sapne" class="icon-link"><i class="fa fa-linkedin"></i></a>
               <a href="https://www.instagram.com/sapnewaali/" class="icon-link"><i class="fa fa-instagram"></i></a>
            </div>
            
        </div>
    </div>

    <div class="card">
        <div class= "card-content">
             <img src="/public/akshay.jpg" class="card-img-top" alt="...">
             <h2 class="card-title">Akshay</h2>
             <h3 class="card-text">Founder of - <a href="https://wildfiretech.co/"> Wildfire</a></h3>
             <p>"We are very grateful to <span> Akshay, founder of Wildfire,</span> for helping our collective by providing tech projects. Their support has helped us move forward and accomplish meaningful work. Their contribution is highly valued by us, and we sincerely thank them.</p>
              <div class="support-social-icons">
               <a href="#" class="icon-link"><i class="fa fa-facebook"></i></a>
               <a href="https://www.linkedin.com/company/wildfiretech/" class="icon-link"><i class="fa fa-linkedin"></i></a>
               <a href="https://www.instagram.com/wildfiretech.co/" class="icon-link"><i class="fa fa-instagram"></i></a>
            </div>
            
        </div>
    </div>
    <div class="card">
        <div class= "card-content">
             <img src="/public/Ayush.jpg" class="card-img-top" alt="...">
             <h2 >Ayush Ghai</h2>
              <h3 class="card-text">Founder of -<a href =""> Lifemaker</a></h3>
              <p>We are very grateful to Ayush Ghai for giving us our first project and helping our collective. Their guidance and backend classes have been very helpful to us. Their trust and support mean a lot to us, and we sincerely thank them."

</p>
            <div class="support-social-icons">
               <a href="https://www.facebook.com/LifeMakerApp/" class="icon-link"><i class="fa fa-facebook"></i></a>
               <a href="https://www.linkedin.com/in/ayushghai/" class="icon-link"><i class="fa fa-linkedin"></i></a>
               <a href="#" class="icon-link"><i class="fa fa-instagram"></i></a>
            </div>
            
        </div>
    </div>
</div>
<Footer />

