---
import Layout from '../layouts/Layout.astro'
---
<Layout title="Our Supporters">
    <div class="support-container"> 
        <div class="support-card">
            <div class="support-content">
                <img src="/surabhi.jpg" alt="Surabhi Yadav">
                <h2>Surabhi Yadav</h2>
                <h3>Founder of -<a href="https://sajhesapne.org/"> Sajhe Sapne</a></h3>
                    <p>Founder of Sajhe <span>Sapne NGO, Surabhi Yadav,</span> and her team have helped us in 
                    every way in starting our tech collective. They have provided 
                financial assistance, educational resources, 
                and networking opportunities. Their contributions and 
                belief in our vision have made our dream come true.</p>
                <div class="support-content-link">
                    <a href="https://www.facebook.com/hashtag/sajhesapne/" ><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="https://in.linkedin.com/company/sajhe-sapne" ><i class="fa-brands fa-linkedin-in"></i></a>
                    <a href="https://www.instagram.com/sapnewaali/"><i class="fa-brands fa-instagram"></i></i></a>
                </div>
            </div>
        </div>

        <div class="support-card">
            <div class="support-content">
                <img src="/akshay.jpg" alt="Akshay">
                <h2>Akshay</h2>
                <h3>Founder of - <a href="https://wildfiretech.co/"> Wildfire</a></h3>
                <p>We are very grateful to <span> Akshay, founder of Wildfire,</span> for helping our collective by providing tech projects. Their support has helped us move forward and accomplish meaningful work. Their contribution is highly valued by us, and we sincerely thank them.</p>
                <div>
                    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="https://www.linkedin.com/in/akshaywildfire/"><i class="fa-brands fa-linkedin-in"></i></a>
                    <a href="https://www.instagram.com/wildfiretech.co/"><i class="fa-brands fa-instagram"></i></a>
                </div>
            </div>
        </div>

        <div class="support-card">
            <div class="support-content">
                <img src="/Ayush.jpg" class="imag" alt="Ayush Ghai">
                <h2>Ayush Ghai</h2>
                <h3>Founder of -<a href=""> Lifemaker</a></h3>
                <p>We are very grateful to Ayush Ghai for giving us our first project and helping our collective. Their guidance and backend classes have been very helpful to us. Their trust and support mean a lot to us, and we sincerely thank them.</p>
                <div>
                    <a href="https://www.facebook.com/LifeMakerApp/" ><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="https://www.linkedin.com/in/ayushghai/"><i class="fa-brands fa-linkedin-in"></i></a>
                   
                </div>
            </div>
        </div>
    </div>
</Layout>

