---
import '../styles/global.css'
---
<div class="main-container">
  <div class="container1">
    <div class="box">
      <h2>We want to <span>encourage village girls</span> to pursue the field of <span>technology</span></h2>
    </div>
    <div class="box1">
      <img src="/team-image.JPG" alt="Encouraging Village Girls">
    </div>
  </div>
  <div class="container2">
    <h1>Our <span>Mission</span></h1>
    <p>There is almost zero participation of rural women<br/> 
      in the tech field. We want every software 
      developer to be <br/>a rural woman. That's why we entered the field of tech.</p>
  </div>
</div>
