---
import '../styles/global.css'
---
<div class="main-container">
   <div class="container1">
		   <div class="box">
			   <h2>We want to <span>encourage village girls</span> to pursue the field of <span>technology</spam </h2>
			</div>
			<div class = "box1">
		       <img src="https://letsenhance.io/static/8f5e523ee6b2479e26ecc91b9c25261e/1015f/MainAfter.jpg" alt="Italian Trulli">
		    </div>
		</div>
   </div>
	<div class ="container2">
            <h1>Our <span>Mission</span></h1>
			<p>There is a almost zero participation of rural woman<br/> 
			    in tech fiekd we want out of every software 
			developer to be <br/>a rural woman. That's why we entered the field of tech</p>
    </div>
	
</div>
