---
import '../styles/global.css'
---
<div class="main-container">
  <div class="container1">
		   <div class="box">
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
			Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
			when an unknown printer took a galley of type and scrambled it to make a type 
			specimen book. It has survived not only five centuries, but also the leap into 
			electronic typesetting, remaining essentially unchanged. It was popularised in the 
			1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more 
			recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
			</div>
			<div class = "box1">
		   <img src="https://letsenhance.io/static/8f5e523ee6b2479e26ecc91b9c25261e/1015f/MainAfter.jpg" alt="Italian Trulli">
		   </div>
		</div>
        <div class ="container2">
            <h1>Our Mission</h1>
			<p>There is a almost zero participation of rural woman in tech fiekd we want out of every software developer to be a rural woman. That's why we entered the field of tech</p>
        </div>
	</div>
	
</div>
