---
import '../styles/global.css'
---
<div class="main-container">
  <div class="container1">
    <div class="box">
      <h2>We want to <span>encourage Rural women</span> to pursue the field of <span>technology</span></h2>
    </div>
    <div class="box1">
      <img src="/team-image.JPG" alt="Encouraging Village Girls">
    </div>
  </div>
  <div class="container2">
    <h1>Our <span>Mission</span></h1>
    <p>
      There is almost ZERO participation of rural women in the tech field.
       We want 2 out of every 5 software developers to be rural women within the next 5 years.
       That's why we entered the field of technology so that rural women get motivated by seeing us. 
</p>
  </div>
</div>
