--- 

---
<hr/>
<footer>
  <div class="footer-box1">
    <div class="footer-img">
      <img src="/udyami logo.png" alt="Udyami Technology Logo">
    </div>
    <p>Welcome to Udyami Technology,<br/>and the main destination for <br/> you great online web services.</p>
    <div class="container">
      <div class="social-icons">
            <a href="https://www.instagram.com/udyami_technologies/?igsh=MWQ3d3pqYTVsc2ZkMw%3D%3D" class="icon-link"><i class="fa-brands fa-instagram"></i></i></a>
      </div>
    </div>
  </div>
  <div class="footer-box2">
    <div>
      <h1><span>Our</span> Services</h1>
    </div>
    <div class="footer-item">
      <ul>
        <li>Web development</li>
        <li>Website design</li>
        <li>Website upgrades</li>
      </ul>
      <ul>
        <li>App design</li>
        <li>App Development</li>
        <li>Other services coming soon..</li>
      </ul>
    </div>
  </div>
  <div class="footer-box3">
    <h1><span>Contact</span> Info</h1>
    <div class="icon-text">
      <div>
        <i class="fa fa-phone"></i>
        <span class="footer-contact-text">+919301760433</span>
      </div>
      <div>
        <i class="fa fa-envelope"></i>
        <span class="footer-contact-text">udyamitech@gmail.com</span>
      </div>
    </div>
  </div>
</footer>
