---
import '../styles/global.css'
---

<div class="footer-container">
    <i class="fa fa-facebook" style="font-size:48px;"></i>
    <i class="fa fa-instagram" style="font-size:48px;"></i>
    <i class="fa fa-youtube-play" style="font-size:48px;"></i>
    <i class="fa fa-envelope" style="font-size:48px;"></i>
   
</div>