---
import "../styles/global.css"

---
<style>
    .nav-bar {
    background-color: #202022;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }

  .nav-box1 {
  display: flex;
  align-items: center;
}

.nav-link {
  display: flex;
  align-items: center;
  text-decoration: none; /* Removes underline from link */
  color: inherit; /* Inherit text color from parent */
}

.logo {
  max-height: 50px; /* Adjust as needed */
  margin-right: 10px; /* Space between logo and text */
}

.nav-box1 p {
  margin: 0;
  font-size: 16px; /* Adjust as needed */
  line-height: 1.2;
}

.nav-box1 span {
  font-size: 14px; 
}
  .nav-box1 span{
    color: yellowgreen;
  }
  
  
  .nav-box2 {
    display: flex;
    
  }
  .nav-box2 a{
    display: none;
  }
  
  .nav-box1 .logo {
    height: 50px;
  }
  .nav-box2 a:hover{
    color: yellowgreen;
  }
 
  .nav-bar a {
    text-decoration: none;
    color: #ffff;
    margin-left: 25px;
    font-size: 1.9rem;
    font-weight: 800;
  }
  .mobile-menu a{
    color: yellowgreen;
    text-decoration: none;
  }
 
  .mobile-menu {
    display: none;  
    gap: 1.9rem;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    background-color:#202022 ; 
    opacity: 0.9;   
    padding: 20px;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;   
   margin-top: 2%;
   margin-left: 5rem;
  }
  
 .header-icon{
  color: white;
  font-size: 2rem;
 }
 
 @media (min-width: 768px) {
  .nav-box2 a{
    display: block;
  }
  .header-icon{
    display: none;
  }
  .mobile-menu { 
    display: none; 
  }
 }

</style>

<nav class='nav-bar'>
  <div class="nav-box1">
  <a href="/" class="nav-link"> 
    <img src="/udyami logo.png" class="logo" alt="...">
    <p>Udyami<br><span>Technologies</span></p>
  </a>  
</div>
   <div class = "nav-box2">
    <a  href = "/">Home</a>
    <a  href = "/about">About</a>
    <a  href = "/support">Our Supporters</a>
    <a  href = "/project">Project</a>
   
    <a  href = "/contact">Contact</a> 
    <div class ="header-icon">
        <i class="fa fa-bars"></i>
    </div>
  
  </div> 
</nav>
<div class="mobile-menu">
 <a href = "/">Home</a>
  <a href = "/about">About</a>
  <a href = "/support">Our Supporters</a>
  <a href = "/project">Project</a>  
   <a href = "/contact">Contact</a>
</div>



