---
import "../styles/global.css"
---


<nav class='nav-bar'>
   <a href = "">Home</a>
   <a href = "/about">About</a>
   <a href = "/supports">Our Supports</a>
   <a href = "/project">Project</a>
   <a href = "/blog">Blog</a>
   <a href = "/contact">Contact</a>

</nav>