---
import "../styles/global.css"

---
<style>
     .nav-bar {
    background-color: #202022;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .nav-box1 {
    display: flex;
    align-items: center;
  }
  
  .nav-box2 {
    display: flex;
    
  }
  .nav-box2 a{
    display: none;
  }
  
  .logo {
    height: 50px;
  }
  .nav-box2 a:hover{
    color: yellowgreen;
  }
  
  .nav-bar a {
    text-decoration: none;
    color: #ffff;
    margin-left: 25px;
    font-size: 1.5rem;
    font-weight: 800;
  }
  .mobile-menu a{
    color: yellowgreen;
    text-decoration: none;
  }
 
  .mobile-menu {
    display: none;  
    gap: 1.9rem;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    background-color:#202022 ; 
    opacity: 0.9;   
    padding: 20px;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;   
   margin-top: 2%;
   margin-left: 10rem;
  }
  
 .header-icon{
  color: white;
  font-size: 2rem;
 }
 @media (min-width: 768px) {
  .nav-box2 a{
    display: block;
  }
  .header-icon{
    display: none;
  }
  .mobile-menu { 
    display: none; 
  }
 }

</style>

<nav class='nav-bar'>
  <div class="nav-box1">
   <a href="/"> <img  src="/udyami-logo.png" class="logo" alt="..."> </a>  
   </div>
   <div class = "nav-box2">
    <a href = "/">Home</a>
    <a href = "/about">About</a>
    <a href = "/support">Our Supports</a>
    <a href = "/project">Project</a>
    <a href = "/blog">Blog</a>
    <a href = "/contact">Contact</a> 
    <div class ="header-icon">
        <i class="fa fa-bars"></i>
    </div>
  
  </div> 
</nav>
<div class="mobile-menu">
 <a href = "/">Home</a>
  <a href = "/about">About</a>
  <a href = "/support">Our Supports</a>
  <a href = "/project">Project</a>
   <a href = "/blog">Blog</a>
   <a href = "/contact">Contact</a>
</div>


